* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}
nav {
  background-color: #f8f8f8;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
nav i {
  color: #1abc9c;
  margin-left: 20px;
  padding: 0;
}
nav h2 {
  /* margin-left:px ; */
  font-weight: 450;
  margin: 0;
  font-size: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}
nav a {
  color: rgb(90, 90, 90);
  padding: 50px;
  margin-right: 3px;
  text-decoration: none;
  font-weight: 500;
}
nav  a :hover {
  color: black;
  cursor: pointer;
}
/* section one  */
.main {
  padding: 100px 120px;
  display: flex;
  background-color: #1abc9c;
  gap: 15px;
}
.child1 {
  width: 50%;
  color: white;
}
.heading {
  font-size: 50px;

  text-transform: uppercase;
}
.buy {
  height: 50px;
  width: 140px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  justify-content: space-around;
  color: #1abc9c;
}
.buy i {
  color: #1abc9c;
}
.arrow {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
fieldset {
  border-radius: 10px;
  padding: 10px;
  height: 300px;
}
.child2 {
  width: 50%;
  color: white;
}

input[type="text"] {
  width: 40%;
}

input[type="email"],
input[type="phone"] {
  width: 90%;
}

input {
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

.submit {
  background-color: white;
  border: none;
  color: black;
  height: 30px;
  width: 90px;
  font-weight: 600;
  border-radius: 6px;
}
/* first section  */

.section3 {
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px;
}
.section3 h1 {
  font-weight: 300;
}
.btn3 {
  height: 60px;
  width: 185px;
  background-color: #00a2ff;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
}

.third {
  background-color: #01c6d6;
  padding: 60px 130px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  text-align: center;
  color: white;
}
.border {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 60px;
  align-items: center;
  justify-content: space-around;
}
.border i {
  margin-top: 23px;
}
/* screen shot */
.screenshot {
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px;
}
.ss h2 {
  font-weight: 300;
  gap: 40px;
}
.images {
  display: flex;
  height: 200px;
  width: 180px;
  gap: 45px;
  margin-left: 0;
}
/* computer  */
.fifth {
  background-color: #2ecc71;
  color: white;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 6%;
  gap: 30px;
}
.fifth hr {
  width: 30%;
  border-radius: 50px;
  border: 2px solid white;
}
.textline {
  display: flex;
}
.fifth h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
  /* display: block; */
}
.fifth p {
  font-size: 18px;
  display: flex;
  font: 200;
}
/*  */
.line {
  display: block;
  width: 280px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 25px;
}
.image5 {
  max-width: 1500px;
  width: 100%;
  display: flex;
}
/* phone section  */
.phonesection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 30px;
}
.img1 img {
  max-width: 1500px;
  width: 100%;
  display: block;
}
.text {
  max-width: 520px;
}
.texts h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 200;
}
.texts p {
  font-size: 15px;
  margin-bottom: 15px;
}
.phonebtn {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 28px;
  border: 2px solid #2ecc71;
  color: #2ecc71;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
}
/* other computer  */
.other {
  background-color: #ec6f6d;
  color: white;
  display: flex;
  align-items: center;
  min-height: 500px;
}
.starter {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 80px;
  align-items: center;
}
.imge img {
  max-width: 550px;
  width: 100%;
  display: block;
}
.line {
  display: block;
  width: 250px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 25px;
}
.text1 h1 {
  font-weight: 300;
  margin-bottom: 20px;
}
.text1 p {
  font-size: 14px;
  line-height: 1.7;
}
/* cards  */
.teamsec {
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}
.box {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.titles h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  /* text-align: center; */
  padding-left: 80px;
  margin-right: 90px;
}
.titles span {
  font-size: 18px;
  color: #999;
  font-weight: 400;
  margin-left: 10px;
}

.parentcard {
  display: flex;
  gap: 35px;
  margin-right: 90px;
  align-items: center;
  justify-content: center;
  padding: 90px;
  padding-top: 20px;
}
.card img {
  width: 100%;
  display: block;
}
.card h3 span {
  font-size: 14px;
  color: #999;
  font-weight: 400;
  margin-left: 8px;
}
.card p {
  margin: 15px 0;
  font-size: 14px;
  color: #777;
}
.teamsec i {
  width: 28px;
  height: 28px;
  background: #bbb;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 4px;
  margin-right: 6px;
  cursor: pointer;
}
.fab:hover {
  background: #00a2ff;
}
/* table  */
.tablee {
  background-color: #7f8c8d;
  padding: 40px;
}

.tablebox {
  max-width: 1500px;
  justify-content: center;
  margin: 50px;
  margin-left: 90;
}
.tablebox h2 {
  color: white;
  padding: 30px;
  text-align: center;
}

.starttable {
  width: 1000px;
  border-spacing: 25px 0;
  margin-left: 40px;
  gap: 15px;
}

.starttable th,
.starttable td {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}

.first-row th {
  padding-top: 25px;
  font-size: 14px;
  color: #585757;
  letter-spacing: 2px;
  border-bottom: none;
 
}

.price td {
  font-size: 48px;
  font-weight: 300;
  color: #666;
  padding-bottom: 25px;
  border-bottom: 3px solid #f0f0f0;
}

.price sup {
  font-size: 20px;
  vertical-align: super;
}

tbody tr td {
  color: #777;
  font-size: 14px;
}

.green2 {
  background-color: #2ecc71;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  margin-left: 5px;
}

.signup-btn {
  background-color: #1abc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.signup-btn:hover {
  background-color: #16a085;
}

tfoot td {
  border-bottom: none;
  padding-bottom: 30px;
  padding-top: 20px;
}
/* client section */
.mid h2 {
  font-size: 35px;
  font-weight: 600;
  padding: 40px;
}
.mid span {
  font-size: 18px;
  color: #999;
  font-weight: 400;
  margin-left: 10px;
  margin-bottom: 30px;
  gap: 30px;
}
.anchor1 img {
  height: 100px;
  width: 160px;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
}
.anchor1 img:hover {
  color: #bbb;
  cursor: pointer;
}

/* contact info */
.mainp {
  padding:  50px;
  background-color: #1abc9c;
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.setleft span {
  margin-right: 60px;
  font-size: 25px;
  font-weight: 500;
}
.setright i {
  margin-right: 8px;
}

.setleft {
  color: #ffff;
  font-size: 16px;
  margin-right: 40px;
  font-weight: bolder;
}
.setleft i {
  margin: right 8px;
}
.setright {
  display: flex;
  gap: 30px;
}
.setright a {
  width: 40px;
  height: 40px;
  background-color: #ffff;
  color: #1abc9c;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  gap: 30px;
  border-radius: 6px;
  text-decoration: none;
  margin-left: 10px;
  text-decoration: none;
}

/* footer  */
.lastsection {
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 30px;
}
.lastsec {
  text-align: center;
  justify-content: center;
  display: flex;
}
li a {
  text-decoration: none;
  color: #1abc9c;
  gap: 35px;
}
.last {
  list-style: none;
  gap: 20px;
  margin-right: 40px;
  color: #1abc9c;
  font-weight: bold;
}
.p {
  text-align: center;
  justify-content: center;
}
.p b {
  color: #1abc9c;
  font-family: Arial, Helvetica, sans-serif;
}
.form2 {
  background-color: #34495e;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 180px;
}
.form2 h2 {
  color: white;
  font-weight: 200;
  padding: 25px;
}
.form2 input {
  width: 15%;
  /* padding-bottom: 40px; */
}
.btnf {
  color: white;
  background-color: #00a2ff;
}
